<div class="header-logo">
  <img width="600" src="../assets/images/main-logo.jpg">
</div>

<div class="row category-space">
  <div class="col-6 align-right"><button md-raised-button (click)="selectCategory('sport')"><img width="400" src="../assets/images/sport.jpg"></button></div>
  <div class="col-6"><button md-raised-button (click)="selectCategory('berline')"><img width="400" src="../assets/images/ber.jpg"></button></div>
</div>
<div class="row category-space">
  <div class="col-6 align-right"><button md-raised-button (click)="selectCategory('suv')"><img width="400" src="../assets/images/suv.jpg"></button></div>
  <div class="col-6"><button md-raised-button (click)="selectCategory('citadines')"><img width="400" src="../assets/images/citadines.jpg"></button></div>
</div>

<app-catalog *ngIf="selectedCategory === 'sport'"
             filterByType="category"
             filterByValue="sport"
             sortyByValue="name"
></app-catalog>

<app-catalog *ngIf="selectedCategory === 'suv'"
             filterByType="category"
             filterByValue="suv"
             sortyByValue="name"
></app-catalog>

<app-catalog *ngIf="selectedCategory === 'berline'"
             filterByType="category"
             filterByValue="berline"
             sortyByValue="name"
></app-catalog>

<app-catalog *ngIf="selectedCategory === 'citadines'"
             filterByType="category"
             filterByValue="citadines"
             sortyByValue="name"
></app-catalog>
